body{
	margin-top: 80px;
	height: auto;
	margin-left: 0;
	background-color: #2A3132; /* The background color of all pages */ 
	
}

h1, h2, h3, h4, h5, h6 { 
	color:white;
}


/* =========== FRONT PAGE POSTS CSS ========== */
body.homepage{
	background-image: url("https://pixabay.com/get/e83db2062cf4073ecd1f4107e04a4e93e06ae3d111b515439cf5c471/code-1839406.jpg");
	background-position: center; 
	background-size: contain;
}

.header{
	margin: 15px;
	padding-top: 15px;
	margin-bottom: 0px;
	align-items: center;
	background-color: rgba(51,107,135,1);
	padding-bottom: 15px;
}

.post{
	margin-top: 15x;
	margin: 15px;
	background-color: rgba(0,0,0,0.2); /* Alpha is in decimal values */
	padding: 10px 20px;
	word-wrap: break-word;
	color: white;
	
	
}

#timestamp{
	margin:0;
}

#author{
	margin: 0;
	font-size: 20px;
	margin-bottom: 20px;
}

#title{
	margin: 0;
}


/* ================ NAV-BAR ON ALL PAGES CSS, refer to nav_bar.php ================ */
.navbar{ 
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #336B87;
	position: fixed;
	top: 0;
	width: 100%;
	white-space:nowrap;
	
}

.navbar li{
	display: inline;
	float: left;
	margin: 0;

}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
	padding: 14px 16px;
    padding-bottom: 10px;
    text-decoration: none;
 }
 
 .navbar a:hover { 
	
	background-color: #2A3132;
}


/* ============== ADMIN PAGE TABS CSS ================ */

#adminpanel{
	background-color: #336B87;
	height: 500px;
	margin-right: 10%;
	margin-left: 10%;
}
.admintab{
	padding-top: 10px;
	list-style-type: none;
	background-color: #336B87;
	white-space:nowrap;
	height: 30px;
	margin-bottom:5px;
}

.admintab li{
	display: inline;
	float: left;
}

.admintab li a{
	margin: auto;
	color: white;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	
}

.admintab li a:hover{
	background-color: rgb(150,150,150);
}

.admintab li a:active{
	font-size:14px;
}

.tabcontent {
    display: none;
    padding-left: 20px;
    padding-right: 0px;
    background-color: white;
    margin: 10px 10px;
    overflow: scroll;
    height: 400px;  
}

/* ============== RESOURCES PAGE TABS CSS ================ */

#resourcespanel{
	background-color: #000000;
	margin-top: -2%;
	width: 300px;
	height: 1000px;
	float: left;	
}

.resourcestabs li a{
	margin-top: 100px;
	color: white;
	padding-top:5px;
	padding-bottom: 5px;
	align-content: center;
	text-decoration: none;
	width: 100%;
	
}

.resourcestabs li a:hover{
	background-color: rgb(150,150,150);
}

.tabcontent2{
	display: none;
	background-color: #b9b9b9;
    float: left;
    margin-top: -2%;
    margin-left: 1%;
    padding: 10px;
    width: 70%;
    height: 1000px;
    overflow: scroll;
	
}

/* =========== JACK'S WEIRD CSS ============ */
.value-prop {
    margin-top: 1rem; 
}

.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem; 
 }
 
.docs-header {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    font-weight: 500; 
 }
