.container {
    max-width: 960px; 
}

.header {
    margin-top: 4rem;
    text-align: center 
}

.value-prop {
    margin-top: 1rem; 
}

.value-props {
    margin-top: 4rem;
    margin-bottom: 4rem; 
 }
 
.docs-header {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .2rem;
    font-weight: 500; 
 }
  
.docs-section {
    border-top: 1px solid #eee;
    padding: 4rem 0;
    margin-bottom: 0;}
}